<div class="panel panel-default">
  <div class="panel-heading">{{ mail.sender.firstname }} {{ mail.sender.lastname }} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{ mail.reciever.firstname }} {{ mail.reciever.lastname }}</div>
  <div class="panel-body">
    <p>{{ mail.text }}</p>
  </div>
</div>